@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outlit";
  src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "outlit", sans-serif;
}
